{% extends "base.html" %}
{% block content %}

<h4 class="page_header">Books I've read in 2021</h4>

<table class="table table-hover">
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Pages</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>

    {% for book in books %}
    <tr>
        <td scope="row">{{ book.number }}</td>
        <td scope="row">{{ book.author }}</td>
        <td scope="row">{{ book.title }}</td>
        <td scope="row">{{ book.year }}</td>
        <td scope="row">{{ book.pages }}</td>
        <td scope="row"><a href="#" class="btn btn-outline-dark">Edit</a></td>
        <td scope="row"><a href="{{ url_for('delete', book_id_to_delete=book.id) }}" class="btn btn-outline-danger">Delete</a></td>
    </tr>
    {% endfor %}
</table>

    <a id="add_book_link" class="btn btn-outline-dark" href="{{ url_for('add_book') }}">Add Book</a>

{% endblock %}


